<div class="container confirm-page">
	<ng-include src="'views/common/errors.html'"></ng-include>

	<div class="card card-signup confirm-card">
		<div class="header header-warning text-center" style="padding: 2px 0px;">
			<h4>入力確認</h4>
		</div>
		<div class="content">
			<div class="row bb1ccc">
				<div class="col-xs-3 text-left">利用日</div>
				<div class="col-xs-7 text-right">{{application.use_date | date: 'yyyy/M/d'}}</div>
				<div class="col-xs-2 text-right text-success">
					<span ng-click="closeConfirm()" data-target="#carousel-form" data-slide-to="0"><i class="fa fa-edit"></i></span>
				</div>
			</div>
			<div class="row bb1ccc">
				<div class="col-xs-3 text-left">目的</div>
				<div class="col-xs-7 text-right">{{application.purpose_view}}</div>
				<div class="col-xs-2 text-right text-success">
					<span ng-click="closeConfirm()" data-target="#carousel-form" data-slide-to="1"><i class="fa fa-edit"></i></span>
				</div>
			</div>
			<div class="row bb1ccc">
				<div class="col-xs-4 text-left">交通手段</div>
				<div class="col-xs-8 text-right">
					{{application.traffic_type_view}}<span ng-click="closeConfirm()" class="text-success" data-target="#carousel-form" data-slide-to="2"><i class="fa fa-edit"></i></span>
					　（{{application.ticket_type_view}}<span ng-click="closeConfirm()" class="text-success" data-target="#carousel-form" data-slide-to="6"><i class="fa fa-edit"></i></span>）
				</div>

			</div>
			<div class="row">
				<div class="col-xs-4 text-left">利用ルート</div>
				<div class="col-xs-8 text-left">
					{{application.departure_place}}<span ng-click="closeConfirm()" class="text-success" data-target="#carousel-form" data-slide-to="3"><i class="fa fa-edit"></i></span>
					~
					{{application.arrival_place}}<span ng-click="closeConfirm()" class="text-success" data-target="#carousel-form" data-slide-to="4"><i class="fa fa-edit"></i></span>
				</div>

			</div>
			<div class="row via-place-row" ng-show="application.via_place_view.length > 0">
				<div class="col-xs-4 text-left"></div>
				<div class="col-xs-8 text-left">
					{{application.via_place_view}}<span ng-click="closeConfirm()" class="text-success" data-target="#carousel-form" data-slide-to="5"><i class="fa fa-edit"></i></span>
				</div>
			</div>

			<div class="row bt1ccc bb1ccc">
				<div class="col-xs-4 text-left"></div>
				<div class="col-xs-3 text-right">料金</div>
				<div class="col-xs-3 text-right" ng-show="isRouteSearching">
					<img src="../../images/light_blue_material_design_loading.gif" style="width:38px;height:38px;" />
				</div>
				<div class="col-xs-3 text-right text-success" ng-hide="isRouteSearching">{{application.fare}}円</div>
				<div class="col-xs-2 text-right text-success">
					<span ng-click="closeConfirm()" data-target="#carousel-form" data-slide-to="7"><i class="fa fa-edit"></i></span>
				</div>
			</div>

		</div>
		<div class="text-center confirm-button-area">
			<div>
				<button class="btn btn-success btn-round" ng-click="saveApplication()">入力完了</button>
			</div>
			<div>
				<button class="btn btn-muted btn-simple" ng-click="closeConfirm()">閉じる</button>
			</div>
		</div>
	</div>
</div>
