<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
			<div class="card card-signup">
				<div class="header header-primary text-center">
					<h4>利用日は？</h4>
				</div>
				<div class="content">
					<div class="input-group">
						<span class="input-group-addon">
							<!-- <button class="btn btn-fab btn-xs btn-warning">
								<i class="material-icons">keyboard_arrow_left</i>
							</button> -->
							<i class="fa fa-edit"></i>
						</span>
						<div class="form-group label-static">
              <input class="form-control" type="date" ng-model="application.use_date" ng-focus="changeInputMode(true)" ng-blur="changeInputMode(false)">
              <span class="material-input"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
