<div class="card card-signup confirm-card">
  <div class="header header-info text-center" style="padding: 2px 0px;">
    <h4>ヘルプ</h4>
  </div>
  <div class="content">
    <p>* トライアル中のため、アンケートにご協力ください。</p>
    <p><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSc-uT5ApqFhPZUXbRwTzdYddEoIeNXSG6Lot1KoHu8IvuFRnw/viewform">アンケートフォーム</a></p>



  </div>
  <div class="text-center help-button-area">
    <div>
      <button class="btn btn-muted btn-simple" ng-click="closeHelp()">閉じる</button>
    </div>
  </div>
</div>
