<div class="card card-signup confirm-card">
  <div class="header header-info text-center" style="padding: 2px 0px;">
    <h4>ヘルプ</h4>
  </div>
  <div class="trial-text text-center">
    <p class="text-danger">トライアル中のため、アンケートにご協力ください。</p>
    <p class="question-url"><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSc-uT5ApqFhPZUXbRwTzdYddEoIeNXSG6Lot1KoHu8IvuFRnw/viewform">アンケートフォーム</a></p>
  </div>
  <div class="content">
    <h4>使用方法</h4>
    <ol>
      <li class="how-to-use-item">
        <ul>
          <p class="m0">以下項目を入力</p>
          <li>利用日付</li>
          <li>出発・到着駅/地（経由駅/地）</li>
          <li>支払い方法</li>
          <li>金額</li>
        </ul>
      </li>
      <li class="how-to-use-item">
        <p>入力確認後、入力完了ボタンで登録</p>
      </li>
      <li class="how-to-use-item">
        <p>一覧から編集、削除が可能</p>
      </li>
    </ol>
    <p class="m0">申請機能等は、今後実装予定</p>
  </div>
  <div class="help-button-area">
    <div class="checkbox">
			<label>
				<input type="checkbox" ng-change="changeHelpSetting()" ng-model="noHelp"><span class="checkbox-material"><span class="check"></span></span>
				次回から表示しない
			</label>
		</div>
    <div class="text-center">
      <button class="btn btn-muted btn-simple" ng-click="closeHelp()">閉じる</button>
    </div>
  </div>
</div>
