* {
  /*outline: 1px solid red;*/
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}

.application-list {
  padding: 0;
}

.application-list .row {
  line-height: 40px;
  border-bottom: 1px #ccc solid;
  background-color: #fff;
  margin-bottom: 1px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.right-bottom {
  position: fixed;
  bottom: 2vh;
  right: 2vh;
}
