
@media (min-width: 768px) {
  .list-header, .list-footer {
    width: 750px;
  }

  .nav-menu.ng-hide {
    display: block!important;
  }
  .nav-login.nav-menu.ng-hide {
    display: none!important;
  }

  .form-card {
    width: 750px;
  }
  .show-form .col-sm-offset-3 {
    margin: 0;
  }

  .transportation-form .content {
    width: 75%;
    margin: auto;
  }
  .transportation-form .content  li {
    padding-left: 6.5%;
    padding-right: 6.5%;
  }

  .payment-form .content {
    width: 55%;
    margin: auto;
  }

  .error-alert {
    width: 720px;
  }
}

@media (min-width: 769px) {
  .navbar.navbar-transparent {
    padding-top: 10px;
  }

  .button-area-input {
    bottom: 1vh;
  }
}

@media (min-width: 992px) {
  .list-header, .list-footer {
    width: 970px;
  }

  .form-card {
    width: 970px;
  }
  .transportation-form .content  li {
    padding-left: 9%;
    padding-right: 9%;
  }

  .error-alert {
    width: 941px;
  }
}

@media (min-width: 1200px) {
  .list-header, .list-footer {
      width: 1170px;
  }

  .form-card {
    width: 1170px;
  }
  .transportation-form .content  li {
    padding-left: 10%;
    padding-right: 10%;
  }
  .error-alert {
    width: 1141px;
  }
}
@media (max-width: 320px) {
  /* 一覧 */
  .list-item-fare {
    font-size: 18px;
  }
  .list-item-fare i.material-icons {
    font-size: 12px!important;
  }
  .list-item-date {
    height: 42px;
    width: 42px;
    line-height: 42px;
    margin: 15px 0px 0px;
  }
  .list-item-station {
    font-size: 16px;
  }
  .list-item-purpose {
    font-size: 12px;
  }

  /* 入力フォーム */
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
  .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
  .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
  .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
  .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
  .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
  .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
  .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
  .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
  .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
  .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
  .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .confirm-view .row {
    margin-left: 5px;
    margin-right: 5px;
  }

  .via-place-row {
    display: none;
  }

  .card .content {
    padding: 0 10px;
  }

  .nav-pills > li > a {
    min-width: 92px;
  }

  .help-view .content {
    margin-top: 2px;
    max-height: 180px;
    overflow-y: scroll;
    border: 1px #ccc solid;
    border-radius: 4px;
  }

  .route-panel {
    height: 18vh;
  }
}
