<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
			<div class="card card-signup">
				<div class="header header-primary text-center">
					<h4>支払い方法</h4>
				</div>
				<div class="content">
          <ul class="nav nav-pills nav-pills-info" role="tablist">
							<!--
								color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
	                        -->
						<li class="method-ic" ng-class='{"active": application.ticket_type == "1"}'>
							<a role="tab" data-toggle="tab" aria-expanded="true" ng-click="selectTicketType('1')">
								<i class="material-icons">style</i>
								ICカード
							</a>
						</li>
						<li class="method-ticket" ng-class='{"active": application.ticket_type == "2"}'>
              <a role="tab" data-toggle="tab" aria-expanded="false" ng-click="selectTicketType('2')">
	            	<i class="material-icons">local_offer</i>
                切符
              </a>
            </li>

          </ul>
				</div>
			</div>
		</div>
	</div>
</div>
