ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.error {
  color: red;
  background-color: rgb(254, 176, 176);
  border: 1px rgb(247, 244, 158) solid;
  padding: 10px;
  border-radius: 4px;
}

.sidemenu {
  position: relative;
  left: 0;
}
