<div class="container">
	<div class="row">
		<div class="col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2">
			<div class="card card-signup">
				<div class="header header-primary text-center">
					<h4>支払い方法</h4>
				</div>
				<div class="content">
          <ul class="nav nav-pills nav-pills-info" role="tablist">
							<!--
								color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
	                        -->
						<li class="active method-ic">
							<a role="tab" data-toggle="tab" aria-expanded="true" ng-click="application_detail.ticket_type='1'">
								<i class="material-icons">dashboard</i>
								ICカード
							</a>
						</li>
						<li class="method-ticket">
              <a role="tab" data-toggle="tab" aria-expanded="false" ng-click="application_detail.ticket_type='2'">
	            	<i class="material-icons">schedule</i>
                切符
              </a>
            </li>

          </ul>
				</div>
			</div>
		</div>
	</div>
</div>
