<div class="app container" ng-controller='ApplicationsCtrl' ng-init='getAll()' ng-switch-when="2">
  <div class="row">
    <div class="main">
      <div class="application">
        <div class="container">
          <div class="application-header">
            <div class="container">
              <div class="row">
                <div class="col-md-6 target-month">
                  10月
                </div>
                <div class="col-md-6 add-area">
                  <a href="#" class="btn-add">＋</a>
                </div>
              </div>
            </div>
          </div>
          <div class="application-body">
            <div class="container">
              <!-- application item row -->

              <div class="row date-row">
                <div class="col-md-1 target-date">
                  1日
                </div>
                <div class="col-md-11">
                  <div class="container">
                    <div class="row daily-title">
                      <div class="col-md-9 purpose">目的：A社訪問のため</div>
                      <div class="col-md-3 daily-total">1,400円</div>
                    </div>
                    <div class="row application-list">
                      <div class="col-md-1 seq-num">1.</div>
                      <div class="col-md-4 institution">地下鉄　丸ノ内線</div>
                      <div class="col-md-5 section">東京駅　〜　池袋駅</div>
                      <div class="col-md-2 fee">500円</div>
                    </div>
                    <div class="row application-list">
                      <div class="col-md-1 seq-num">2.</div>
                      <div class="col-md-4 institution">タクシー</div>
                      <div class="col-md-5 section">東京駅　〜　 A社</div>
                      <div class="col-md-2 fee">750円</div>
                    </div>
                    <div class="row application-list">
                      <div class="col-md-1 seq-num">3.</div>
                      <div class="col-md-4 institution">東京都営バス</div>
                      <div class="col-md-5 section">池袋東口　〜　東京駅八重洲口</div>
                      <div class="col-md-2 fee">150円</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row date-row">
                <div class="col-md-1 target-date">
                  3日
                </div>
                <div class="col-md-11">
                  <div class="container">
                    <div class="row daily-title">
                      <div class="col-md-9 purpose">目的：B社訪問のため</div>
                      <div class="col-md-3 daily-total">500円</div>
                    </div>
                    <div class="row application-list">
                      <div class="col-md-1 seq-num">1.</div>
                      <div class="col-md-4 institution">JR</div>
                      <div class="col-md-5 section">東京駅　〜　新宿駅</div>
                      <div class="col-md-2 fee">250円</div>
                    </div>
                    <div class="row application-list">
                      <div class="col-md-1 seq-num">2.</div>
                      <div class="col-md-4 institution">JR</div>
                      <div class="col-md-5 section">新宿駅　〜　 東京駅</div>
                      <div class="col-md-2 fee">250円</div>
                    </div>
                  </div>
                </div>
              </div>

            <!-- application item row -->
            </div>
          </div>
          <div class="application-footer">
            <a href="#" class="btn">保存する</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
