<div ng-controller="LoginCtrl">
	<ng-include src='"views/common/errors.html"'></ng-include>
	<div class="container">
		<div class="form-group label-floating">
			<label class="control-label">社員ID</label>
			<input type="text" class="form-control" ng-model="userId">
	</div>
	</div>
	<div class="container">
		<div class="form-group label-floating">
			<label class="control-label">パスワード</label>
			<input type="password" class="form-control" ng-model="password">
	</div>
	</div>
	<div class="container">

	<button class="btn btn-success" ng-click="doLogin()">ログイン</button>
	</div>
</div>
