<div class="container confirm-page">
	<div class="card card-signup confirm-card">
		<div class="header header-warning text-center" style="padding: 2px 0px;">
			<h4>確認</h4>
		</div>
		<div class="content">
			<div class="row bb1ccc">
				<div class="col-xs-3 text-left">利用日</div>
				<div class="col-xs-9 text-right">{{application.use_date | date: 'yyyy/M/d'}}</div>
			</div>
			<div class="row bb1ccc">
				<div class="col-xs-3 text-left">目的</div>
				<div class="col-xs-9 text-right">{{application.purpose_view}}</div>
			</div>
			<div class="row bb1ccc">
				<div class="col-xs-4 text-left">交通手段</div>
				<div class="col-xs-8 text-right">
					{{application.traffic_type_view}}（{{application.ticket_type_view}}）
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 text-left">利用ルート</div>
				<div class="col-xs-8 text-left">
					{{application.departure_place}}
					~
					{{application.arrival_place}}
				</div>

			</div>
			<div class="row" ng-show="application.via_place_view.length > 0">
				<div class="col-xs-4 text-left"></div>
				<div class="col-xs-8 text-left">
					{{application.via_place_view}}
				</div>
			</div>

			<div class="row bt1ccc bb1ccc">
				<div class="col-xs-4 text-left"></div>
				<div class="col-xs-4 text-right">料金</div>
				<div class="col-xs-4 text-right text-success" ng-hide="isRouteSearching">{{application.fare}}円</div>
			</div>

		</div>
		<div class="row confirm-button-area">
			<div class="text-center" ng-hide="deleteConfirming">
				<div class="col-xs-6">
					<button class="btn btn-danger btn-round" ng-click="toggleConfirmDelete()">削除</button>
				</div>
	      <div class="col-xs-6">
	        <button class="btn btn-primary btn-round" ng-click="jumpToEdit(application)">編集</button>
	      </div>
			</div>
			<div class="delete-confirmation" ng-show="deleteConfirming">
				<div class="col-xs-5 text-muted text-center">削除しますか？</div>
				<div class="col-xs-7 text-center">
					<button class="btn btn-muted btn-round" ng-click="toggleConfirmDelete()">戻る</button>
		      <button class="btn btn-danger btn-round" ng-click="deleteApplication(application)">削除</button>
	      </div>
			</div>
			<div class="text-center">
				<button class="btn btn-muted btn-simple" ng-click="closeConfirm()">閉じる</button>
			</div>
		</div>
	</div>
</div>
